@media only screen and (min-width:0px) and (max-width:461px) {


.head2{
  height: 65px!important;
}
.head .logo img {
    height: 32px !important;
}
.head2 ul {
  display: block !important;
  padding: 0px 0px !important;
  width: 329px !important;

}
.head2 .navbar-collapse{
  border: 0px !important;
  box-shadow: none !important;
  background: #202a39 !important;
  width: 360px !important;
  z-index: 9999999999 !important;
    position: relative !important;
  margin-left: -15px !important;
}
.head h1{
  font-size: 24px!important;
  margin-top: -59px !important;

}
.head h3{
  font-size: 16px!important;
}
.head p{
  font-size: 12px!important;
}
.head2 .logo{
  height: 31px !important;
  margin-top: 0px !important;
}

/*responsive menu start*/

.head .navbar-brand img{
  height: 42px !important;
}
.head2 .navbar-inverse {
       margin-top: -15px !important;
 
}
/*responsive menu end*/
.headimg img{
  margin-top: -127px !important;
}
.heading img{
  height: 52px!important;
}
.casein img {
  margin: 0px 0px !important;
}
.case h2{
  font-size: 18px !important;
  margin-top: 31px !important;
}
.dis{
  display: none !important;
}
.head .navbar-brand img {
  display: block !important;
}
.case p{
  font-size: 15px !important;
}
.head .login {
  padding: 12px 26px !important;
  width: 104px !important;
  margin-left: 0px !important
}
.head2 .login {
  padding: 12px 26px !important;
  width: 96px !important;
  margin-left: 0px !important
}
.head .signup {
  padding: 12px 26px;
  width: 104px !important;
}
.head2 .signup {
  padding: 12px 26px !important;
  width: 96px !important;
  margin-left: 0px !important
}

.case li{
  font-size: 14px !important;
}
.press{
  padding: 25px 0px !important;
}
.press h2{
  font-size: 25px !important;
}
.press p{
  font-size: 15px !important;
  text-align: center !important;
  padding: 7px 2px !important;
}
.head .navbar-inverse {
    margin-left: -102px !important;
 }
.head .logo img{
  height: 37px !important;
  margin-top: -11px !important;
}
.getstart h2 {
  font-size: 18px !important;
}
.case-in2{
  padding: 0px 0px !important;
}
.footer p{
  text-align: center !important;
 }
.footer img{
  height: 114px !important;
  margin-top:10px !important;
 }
.foot{
  display: none !important;
}
.privacy{
  /*margin-left: 48px !important;*/
  width: 245px !important;
}
.footer .mail {
  width: 260px !important;
  /*margin-left: 25px !important;*/
}
.footer h4{
  margin-top: -2px !important;
  margin-top: -10px !important;
}
.footer i{
  margin-left: 30px !important;
  padding-left: 0px !important;
}
.signup-page{
  width: 333px !important;
  margin: 35px auto !important;
}
.form-group input{
  width: 72% !important
}
.form-group label{
  font-size: 12px !important;
}
.error {
  font-size: 8px !important;
}
.log h5{
 font-size: 13px !important;
}
.btn{
  margin-left: 0px !important;
}
.log h4{
  text-align: center !important;
}
#contact-form input {
  width: 100% !important;
}
.forms{
  width: 354px !important;
}
.menu_scroll {
  margin-left: 0px !important;
}
.suprem h1 {
  font-size: 8px !important;
}
.suprem i {
  font-size: 7px !important;
  top: -17px !important;
  left: -4px !important;
}
.background img{
  display: block !important;
}
.counter img{
  height: 20px !important;
}
.footer h3{
  margin-left: 11px !important
}
.terms p{
  font-size: 14px !important;
}
.terms h2{
  font-size: 14px !important;
}
.head2 .logo img{
  margin-top: -3px !important;
}
.term p{
  font-size: 13px !important;
}
.button button{
  font-size: 13px !important;
}
.hover_bkgr_fricc{
   width: 393px !important;
  margin-left: -61px !important;
}
.hover_bkgr_fricc input{
     width: 100% !important;
}
.form-control4{
   padding: 5px 11px !important;
}

}

@media only screen and (min-width:462px) and (max-width:767px) {
/* .head ul {
  display: none !important;
}*/
.head h1{
  font-size: 24px!important;
  margin-top: -59px !important;
}
.head ul{
  width: 0px !important;
}
/*.logo{
  display: none !important;
}*/
.head2{
  height:74px !important;
}
.head2 .navbar-toggle {
  margin-top: -22px;
}
.head2 .logo{
  height: 31px !important;
  margin-top: 0px !important;

}
.scroll_row1 {
  height: 58px !important;

}
/*responsive menu start*/
.head ul button{
  display: none !important;
}
.head .navbar-brand{
  display: block !important;
 }
.head .navbar-brand img{
  height: 42px !important;
 }
 .head .navbar-collapse{
      margin-left: -113px !important;
 }
 .head2 .navbar-collapse{
  border: 0px !important;
  box-shadow: none !important;
  background: #202a39 !important;
  width: 640px !important;
      position: relative !important;
    z-index: 999999 !important;
  margin-left: -15px !important;
}
.head2 ul{
  width: 629px !important;
}
.head2 .login {
  padding: 12px 25px !important;
  width: 100px !important;
}
.head .navbar-header{
  width: 100% !important;
  border:0px; 
}
.head2 .nav>li>a {
  position: relative;
  display: block;
  margin: -7px -8px !important;
}
.head2 .signup {
  width: 100px !important; 
}
.nav>li>a{
  margin-left: -47px !important;
}
/*responsive menu end*/

.head h3{
  font-size: 16px!important;
}
.head .login {
    width: 97px !important;
  padding: 12px 19px !important;
}
.head .signup {
     width: 97px !important;
  padding: 12px 19px !important;
}
.head p{
  font-size: 12px!important;
}
.headimg img{
  margin-top: -274px !important;
}
.heading img{
  height: 37px!important;
}
 .casein img {
  margin: 0px 0px !important;
}
.casein img {
  padding: 0px 68px !important;
}
.dis{
  display: none !important;
}

.case h2{
  font-size: 20px !important;
}
.case p{
  font-size: 17px !important;
}
.case li{
  font-size: 17px !important;
}
.press{
  padding: 25px 0px !important;
}
.press h2{
  font-size: 25px !important;
}
.press p{
  font-size: 18px !important;
  text-align: center !important;
  padding: 7px 2px !important;
}
.getstart h2 {
  font-size: 18px !important;
}
.case-in2{
  padding: 0px 0px !important;
}
 .end h2{
  text-align: left !important;
}
.footer p{
  text-align: center !important;
  margin-top: 23px !important;
}
.privacy{
  /*margin-left: 205px!important;*/
}
.footer h3{
  margin-left: -3px !important;
}

.footer i{
  margin-left: 30px !important;
}
.signup-page{
  width: 476px !important;
}
.head .logo img {
    height: 32px !important;
}
.form-group input{
  width: 85% !important
}
.form-group label{
  font-size: 13px !important;
}
.error {
  font-size: 8px !important;
}
.log h5{
  font-size: 13px !important;
}
.btn{
  margin-left: 0px !important;
}

.log h4{
  text-align: center !important;
}
#contact-form input {
  width: 160% !important;
}
.button button {
    font-size: 13px !important;
    margin-left: 131px !important;
}
.forms{
  width: 354px !important;
}
.background img{
  display: block !important;
}
.counter img{
  height: 13px !important;
}
.terms h2{
  font-size: 14px !important;
}
.term p{
  font-size: 13px !important;
}
.button button{
  font-size: 13px !important;
  margin-left: 161px !important;

}
.form-control3{
  width: 30px !important;
}
.button button{
  font-size: 13px !important;
}
.hover_bkgr_fricc{
   width: 514px !important;
  margin-left: -61px !important;
}
.hover_bkgr_fricc input{
     width: 100% !important;
}
.form-control4{
   margin-left: 20px!important;
}
.footer .mail{
  margin: 0px auto;
  width: 260px !important;
}

}

@media only screen and (min-width:768px) and (max-width:991px) {
.head{
  height: 351px !important;
}
 .head .logo img{
  height: 39px !important;
  margin-top: 0px !important;
}  

.head li{
  padding: 19px 9px !important;
}
.head2 .login{
  margin-left:26px !important;
  padding: 3px 10px !important;
  font-size: 11px !important;
}
.head2{
  height: 105px!important;
}
.head ul{
  width:634px!important;
} 
.head .login{
  padding: 7px 23px !important;
  margin-top: 2px !important;
}
.head .signup{
  padding: 7px 23px !important;
  margin-top: 3px !important;
}
.navbar-inverse .navbar-nav>li>a {
  padding: 10px 6px;
}

.head li{
  padding: 11px 0px !important;
  margin-left: 0px -14px !important;
}
.head2 .signup{
  padding: 3px 10px !important;
  font-size: 11px !important;
}
.head ul{
  padding: 4px 0px !important;
  font-size: 12px !important;
  width: 479px !important;   
 }
.navbar-nav>li{
  margin: 0px -6px !important;
}
/*.head2 ul{
  width:477px!important;
} */

.head2 ul{
  padding: 4px 0px !important;
  font-size: 12px !important;
  width: 479px !important;   
 }

.heading{
  margin-top: -74px !important;
}
.heading img{
  height: 29px !important;
  height: 24px !important;
  margin-top: -12px !important;
}
.headimg img{
  margin-top: -101px !important;
}
.head h1{
  font-size: 25px!important;
}
.head h3 {
  font-size: 17px!important;
}
.head p {
  font-size: 12px!important;
  padding: 1px 0px !important;
}
.case h2{
  font-size: 22px !important;
}
.case p{
  font-size: 16px !important;
}
.case li{
  font-size: 15px !important;
}
.press h2{
  font-size: 28px !important;
}
.press p{
  font-size: 15px !important;
}
.press img {
  padding-top: 5px !important;
  height: 26px !important;
}
.press-in img{
  height: auto !important;
}
.getstart h2 {
  font-size: 22px !important;
}
.img2{
  height: 20px!important;
}
.end img{
  height: 30px!important;
}
.img-responsive{
  display: block;
}
.signup-page{
  width: 716px !important;
}

.suprem h1 {
  font-size: 8px !important;
}
.footer .mail {
  margin-left: 64px !important;
}
.footer h3{
  padding: 0px 21px !important;
  /*margin-left: 46px !important;*/
}
.privacy{
  width: 255px !important;
}
.menu_scroll .logo img{
border: 1px solid red !important;

}
.head2 .logo img {
  height: 42px !important;
  margin-top: -8px !important;

}
.term p{
  font-size: 13px !important;
}

}


@media only screen and (min-width:992px) and (max-width:1025px) {

.head ul{
  padding: 0px 0px !important;
  width: 615px;
}

.head2 ul{
  padding: 0px 0px !important;
  width: 615px;
}


}