@import url("responsive.css");
/* Using a url */
/*header css here*/
 html{
}
 body{
}
 h1,h2{
     padding: 0px;
     margin: 0px;
}
 ul{
}
 li{
}
 .head{
     padding: 21px 0px;
     width: 100%;
     height: 606px;
     background-size: cover !important;
     background:url(../images/banner.jpg)no-repeat;
}
 .head2{
     padding: 21px 0px;
     width: 100%;
     height: 114px;
     background-size: cover !important;
     background:url(../images/banner.jpg)no-repeat;
}
 .head2 ul{
     color: #7d828b;
     font-family: "Nunito Sans";
     font-size: 16px;
     font-weight: 400;
     padding: 0px 42px;
}
 .head2 li{
     display: inline-block;
     list-style: none;
     padding: 15px 9px !important;
     color: #7d828b;
}
.help-block{
     color: red !important;
}
 .head2 li a{
     display: inline-block;
     list-style: none;
     padding: 22px 23px;
     color: #7d828b;
     text-decoration: none;
}
 .head ul{
     color: #7d828b;
     font-family: "Nunito Sans";
     font-size: 16px;
     font-weight: 400;
     padding: 0px 42px;
}
 .img-responsive{
     display: none;
}
 .head li{
     display: inline-block;
     list-style: none;
     padding: 15px 9px !important;
     color: #7d828b;
}
/*responsive menu start*/
 .head nav {
     margin-top: 60px;
     box-shadow: 5px 4px 5px #000;
}
 .head2 nav {
     margin-top: 60px;
     box-shadow: 5px 4px 5px #000;
}
 .head2 .navbar-inverse {
     background-color:transparent !important;
     border-style: none !important;
     box-shadow: none;
     margin: 0px 0px;
}
 .head2 .navbar-brand{
     display: none;
}
/*responsive menu end*/
 .head .navbar-inverse {
     background-color:transparent !important;
     border-style: none !important;
     box-shadow: none;
     margin: 0px 0px;
}
 .head .navbar-brand{
     display: none;
}
 .navbar-nav>li{
     padding: 13px 0px;
}
 .head li a{
     display: inline-block;
     list-style: none;
     padding: 22px 23px;
     color: #7d828b;
     text-decoration: none;
}
 .head li:hover{
     color: #fff;
}
 .head2 li:hover{
     color: #fff;
}
 .head2 .login{
     background:#32cea8;
     border-radius: 117px;
     padding: 9px 20px !important;
    font-family: "Nunito Sans";
    outline: none !important;
    font-size: 14px;
    font-weight: 400;
    /*margin-left: 60px;*/
     margin-top: 7px;
     color: #fff !important;
}
 .head2 .login:hover{
     color:#000!important;
     background: #fff !important;
     outline: none !important;
    
}
 .head .login{
     background:#32cea8;
     border-radius: 117px;
     padding: 9px 20px;
     font-family: "Nunito Sans";
     margin-top: 7px;
     outline: none !important;
     font-size: 14px;
     text-align: center;
     font-weight: 400;
     color: #fff !important;
}
 .head .login:hover{
     color:#000!important;
     background: #fff !important;
     outline: none !important;
    
}
/*.head2 .logo{
    margin-top: 18px !important;
}*/
 .head .logo img{
     height: 57px;
     margin-top: -7px;
}

 .head2 .logo img{
     height: 57px;
     margin-top: -6px;
}
 .head2 .signup{
     background:#32cea8;
     border-radius: 117px;
     padding: 9px 20px !important;
     font-family: "Nunito Sans";
     outline: none !important;
     font-size: 14px;
     font-weight: 400;
     margin-top: 7px;
     color: #fff !important;
}
 .head2 .signup:hover{
     color:#000!important;
     background: #fff !important;
     outline: none !important;
    
}
 
 .head .signup{
     background:#32cea8 !important;
     border-radius: 117px;
     padding: 9px 20px;
     font-family: "Nunito Sans";
     outline: none !important;
     font-size: 14px;
     font-weight: 6400;
     margin-top: 7px;
     color: #fff !important;
}
 .head .signup:hover{
     color:#000!important;
     background: #fff !important;
     outline: none !important;
     font-size: 14px;
}
 .head h1{
     font-family: "Nunito Sans";
     font-size: 45px;
     color: #fff;
     font-weight: 700;
}
 .head h3{
     font-family: "Nunito Sans";
     font-size: 22px;
     color: #fff;
     font-weight: 400;
}
 .head p{
     font-family: "Nunito Sans";
     font-size: 15px;
     color: #fff;
     line-height: 30px;
     padding: 15px 0px;
     font-weight: 400;
}
 .heading{
     padding: 95px 0px;
}
 .headimg{
     padding: 95px 0px;
}
/*header css end here*/
/*menu scroll fix css here*/

 .menu_scroll .navbar-collapse{
     background: #202a39!important;
}
 .menu_scroll a{
     padding-top: 13px !important;
}
 .menu_scroll .logo2{
     display:block !important;
     margin-left: -424px !important;
     margin-top: 10px!important;
     height: 68px !important;
}
 #menu .logo2{
     display: none;
}
 .collapse .navbar-collapse .menu_scroll {
     padding: 17px 34px !important;
     height: 53px !important;
}
/*case css here*/
 .case h2{
     font-family: "Nunito Sans";
     font-size: 35px;
     color: #212529;
     font-weight: 400;
}
 .case p{
     color:#a9a9a9;
     font-family: "Nunito Sans";
     font-size: 21px;
     font-weight:300;
     font-style: normal;
}
 .case ul{
     list-style: none;
     padding:16px 0px;
}
 .case img{
     padding: 0px 7px;
}
 .headimg{
     margin-top: 19px !important;
}
 .case li{
     color:#a9a9a9;
     font-family: "Nunito Sans";
     font-size: 18px;
     font-weight:300;
     line-height: 44px;
     font-style: normal;
}
 .casein img{
     margin: -29px -29px;
}
 .case-in2{
     padding: 76px 0px;
}
/*case css end here*/
/*press section start*/
 .press{
     background: #f9f9f9;
     padding: 35px 0px;
}
 .press h2{
     font-family: "Nunito Sans";
     font-size: 35px;
     font-weight:400;
     color:#212529;
}
 .press .owl-carousel .owl-item img {
     display: block;
     width: 4% !important;
}
 .press .owl-dots{
     display: none !important;
}
 .press .owl-nav{
     display: none !important;
}
 .press p{
     color: #212529;
     font-family: "Nunito Sans";
     font-size: 20px;
     font-weight:400;
     line-height: 36px;
     padding: 24px 0px;
}
 .press-in img{
     margin: 0px auto;
}
 .press img{
     padding-top: 33px;
}
/*link section css*/
 .links{
     background: #ffffff;
     padding: 40px 0px;
     padding: 22px 0px;
     margin-top: 24px;
}
 .suprem{
     border: 1px solid #e1e1e1;
     border-radius:5px;
     padding: 1px 0px;
     margin-bottom: 30px;
     box-shadow: 0px 0px 31px -13px;
}
 .suprem i{
     color: #aeafb1;
     font-size: 9px;
     float: right;
     position: relative;
     top: -20px;
     left: -5px;
}
 .suprem a{
     text-decoration: none !important;
     cursor: pointer;
}
 .suprem h1{
     font-size: 13px;
     font-family: "Nunito Sans";
     font-weight:400;
     margin-top: 10px;
     padding: 0px 9px;
     color: #212529;
}
 .footer{
     background: #393f4f;
     padding: 13px 0px;
}
 .footer i{
     color: #fff;
     font-size: 22px;
     margin: 0px auto;
     display: block;
     float: left;
     padding-left: 97px;
     padding: 16px 0px;
     text-align: center;
}
 .footer .mail{
     /*margin-left: 177px;*/
    margin: 0px auto;
    width: 210px;
}
 .footer h2{
     font-family: "Nunito Sans";
     font-size: 16px;
     color: #a7a7a7;
     float: left;
     padding: 0px 11px;
     font-weight:600;
}
 .privacy{
    margin: 0px auto;
    width: 235px;
    margin-top: -6px !important;
}
 .footer h3{
     font-family: "Nunito Sans";
     font-size: 14px;
     color: #a7a7a7;
     float: left;
     padding: 0px 11px;
     font-weight:600;
}
 .footer a{
     cursor: pointer;
}
 .footer b{
     font-size: 14px;
     color: #a7a7a7;
     position: relative;
     top: 16px;
     left: -6px;
}
 .footer h4{
     font-family: "Nunito Sans";
     font-size: 14px;
     color: #a7a7a7;
     margin-top: -11px !important;
     padding: 11px 19px;
     font-weight:600;
}
 .footer img{
     margin: 0px auto;
     display: block;
     height: 100px;
}
 .footer p{
     color: #a7a7a7;
     font-family: "Nunito Sans";
     font-size: 13px;
     text-align: left;
     font-weight:600;
     margin-top: 14px;
}
 .main-timeline{
     position: relative;
     overflow: hidden;
}
 .main-timeline:before{
     content: "";
     width: 10px;
     height: 80%;
     border-right: 8px dotted #000;
     position: absolute;
     top: 18px;
     left: 50%;
     transform: translateX(-50%);
}
 .main-timeline .timeline{
     width: 50.1%;
     float: right;
     padding: 10px 100px 10px 50px;
     position: relative;
}
 .main-timeline .timeline:before{
     content: "";
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background: #fd8c00;
     border: 5px solid #fff;
     box-shadow: 0 0 0 3px #fd8c00;
     position: absolute;
     top: 25px;
     left: -13px;
}
 .main-timeline .timeline-content{
     display: block;
     position: relative;
}
 .main-timeline .timeline-content:hover{
     text-decoration: none;
}
 .main-timeline .title{
     display: inline-block;
     padding: 8px 55px 8px 25px;
     margin: 0 0 10px 0;
     border: 3px solid #fff;
     border-radius: 25px 25px 25px 0;
     background: #fd8c00;
     box-shadow: 0 0 0 3px #fd8c00;
     font-size: 28px;
     font-weight: 700;
     color: #fff;
     text-transform: uppercase;
     position: relative;
}
 .main-timeline .title i{
     display: inline-block;
     font-size: 30px;
     margin-left: 5px;
     position: absolute;
     top: 50%;
     right: 15px;
     transform: translateY(-50%);
}
 .main-timeline .description{
     padding: 0 15px;
     font-size: 15px;
     color: #000;
     letter-spacing: 1px;
     margin: 0 0 5px 0;
}
 .main-timeline .timeline:nth-child(2n){
     float: left;
     padding: 10px 50px 10px 100px;
}
 .main-timeline .timeline:nth-child(2n):before{
     left: auto;
     right: -15px;
}
 .main-timeline .timeline:nth-child(2n) .timeline-content{
     text-align: right;
}
 .main-timeline .timeline:nth-child(2n) .title{
     padding: 8px 25px 8px 60px;
     border-radius: 25px 25px 0 25px;
}
 .main-timeline .timeline:nth-child(2n) .title i{
     right: auto;
     left: 15px;
}
 .main-timeline .timeline:nth-child(2n):before, .main-timeline .timeline:nth-child(2n) .title{
     background: #018e8f;
     box-shadow: 0 0 0 3px #018e8f;
}
/*signup css here */
 .background{
     background-size: cover;
     background:url(../images/sign.jpg)center;
}
 .background img{
     height: 50px;
     margin-top: 20px;
}
 .signup-page{
     width: 610px;
     background: #ffffff;
     font-family: "Nunito Sans";
     font-weight:600;
     /*min-height: 485px;*/
     padding: 14px 0px;
     margin: 75px auto;
     border-radius: 10px;
     z-index: 99999999 !important;
}
 .signup-page h2{
     font-family: "Nunito Sans";
     font-weight:400;
     color: #212529;
     /*padding: 10px 0px;*/
     font-size: 35px;
     text-align: center;
}
 .form-group label{
     font-family: "Nunito Sans";
     font-weight:300;
     color: #b0b0b0;
     font-size: 14px;
}
 .form-group input{
     border-style: none;
     width: 100%;
     border-radius:0px;
     margin-bottom: 20px !important;
     box-shadow: none;
     height: 25px;
     padding-left: 0px;
     margin-top: 22px !important;
     border-bottom: 1px solid #dedee0;
     background: #fff !important;
}
 .forms{
     padding: 4px 40px!important;
}
 .btn{
     background:#32cea8 !important;
     border-style: none !important;
     color: #ffffff!important;
     padding: 11px 35px !important;
     font-family: "Nunito Sans";
     border-radius: 100px !important;
     font-weight:600 !important;
     font-size: 16px !important;
     letter-spacing: 2px!important;
     margin: 10px auto !important;
     display: block !important;
}
 .log h4{
     text-align: center;
     font-family: "Nunito Sans";
     font-weight:300 !important;
     color: #a1a1a1;
     font-size: 15px;
}
 .log h5{
     text-align: center;
     font-family: "Nunito Sans";
     font-weight:300 !important;
     color: #939393;
     font-size: 12px;
     text-decoration: none !important;
     padding: 12px 0px;
}
 .log h4 a{
     color: #32cea8;
     font-family: "Nunito Sans";
     text-decoration: none !important;
     font-weight:400 !important;
     cursor: pointer;
}
 .resend_otp{
     color: #32cea8;
     font-family: "Nunito Sans";
     text-decoration: none !important;
     font-weight:400 !important;
     cursor: pointer;
}
 .log h5 a{
     color: #32cea8 !important;
     font-family: "Nunito Sans";
     font-weight:400 !important;
     text-decoration: none;
     cursor: pointer;
}
 .log h5 u{
     color: #32cea8 !important;
     font-family: "Nunito Sans";
     font-weight:400 !important;
     text-decoration: none !important;
}
 .formin{
     padding:10px 0px !important;
}
 .error{
     color: red !important;
}
 #contact-form input{
     outline: none;
     box-shadow: none;
}
 #contact-form button{
     outline: none;
     box-shadow: none;
}
 .modal-body .form-group input{
     border:1px solid #e1e1e1;
     outline: none;
     box-shadow: none;
     height: 45px;
}
/*term of policy page css*/
 .terms{
     background: #f4f4f4;
     padding: 22px 0px;
}
 .terms-in{
     box-shadow: 0px 0px 31px -13px;
     padding-bottom: 10px;
     padding-top: 10px;
}
 .terms h1{
     font-family: "Nunito Sans";
     font-weight:700 !important;
     color: #000;
     text-align: center;
     font-size: 25px;
}
 .terms p{
     font-family: "Nunito Sans";
     font-weight:400 !important;
     color: gray;
     line-height: 27px;
     font-size: 15px;
}
 .terms h2{
     font-family: "Nunito Sans";
     font-weight:600 !important;
     color: gray;
     font-size: 19px;
}
 .counter img{
     height: 13px;
     top: 20px;
     position: relative;
}
 .footer h3{
    /* margin-left: 171px;*/
}
 .footer a{
     cursor: pointer !important;
     text-decoration: none !important;
}
 .scroll_row1{
     position: fixed;
     width: 100%;
     z-index: 9999999;
     background: url(../images/banner.jpg)no-repeat;
     margin-top: -21px;
}
.logo{
     margin-top: 18px;
}
* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.trigger_popup_fricc{
     color: gray;
    margin-top: -7px !important;
}
.trigger_popup_fricc:hover{
     color: gray;
     text-decoration: none;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
     box-shadow: 0px 0px 31px -13px;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
        top: -13px;
    right: -20px;
    font-size: 12px;
    line-height: 18px;
    width: 21px;
    height: 21px;
    text-align: center;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

.form-control4{
     /*margin-top: 26px;*/
    background: #32cea8 !important;
    border-style: none !important;
    color: #ffffff!important;
     padding: 8px 18px !important;
    font-family: "Nunito Sans";
    border-radius: 100px !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    letter-spacing: 2px!important;
    margin: 30px auto !important;
    display: block !important;
}
.modal2 a{
     color: gray !important;
     cursor: pointer;
     text-decoration: none !important;
}
/* Popup box BEGIN */

